@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9ab;
  --color-secondary: #fff;
  --color-base-content: #14181c;
}
/* custom css */
/* body{
  background: #14181c;
} */
.body-width{
  max-width: 1350px;
  margin: 0 auto 0 auto;
}
/* .text-color{
  color: var(--color-primary);
} */
.smooth-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  font-weight: bold;
  color: var(--color-primary);
  font-size: 1.125rem;        
}

.smooth-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: currentColor;
  transition: width 0.3s ease-in-out;
}

.smooth-underline:hover::after {
  width: 100%;
}

.smooth-border-underline {
  display: inline-block;
  font-size: 1.125rem;        
  font-weight: bold;     
  padding-bottom: 0.25rem;   
  border-bottom: 2px solid transparent; 
  color: var(--color-secondary);  
  transition: border-color 0.3s ease-in-out; 
}

.smooth-border-underline.active {
  border-color: currentColor;
}

.btn-glow {
  padding: 12px 28px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(135deg, #6a00f4, #00c6ff);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  outline: none;
}

.btn-glow::before {
  content: "";
  position: absolute;
  top: -80%;
  left: -80%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #ffffff40, transparent 50%);
  transform: scale(0);
  transition: 0.4s;
}

.btn-glow:hover::before {
  transform: scale(1);
}

.btn-glow:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(100, 200, 255, 0.5);
}
